#Systemd service file for klipper
[Unit]
Description=Starts klipper on startup
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=klipper
RemainAfterExit=yes
ExecStart=/usr/bin/python3 /home/klipper/klipper/klippy/klippy.py /home/klipper/printer.cfg -l /home/klipper/klipper.service.log
