#Systemd service file for klipper
[Unit]
Description=Starts klipper on startup
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=klipper
RemainAfterExit=yes
ExecStart=/usr/bin/python3 /usr/bin/klipper/klippy/klippy.py /usr/bin/printer.cfg -l /usr/bin/klipper.service.log
